/* carousel overflow hidden 
max-width det jeg vil den skal være 
pos rela 


på bilde sett width 100% 
max-width til det samme som den oppe og høyde auto */
.carousel-container {
  overflow: hidden;
  max-width: 1400px;
  position: relative;
}
.carousel-post,
.carousel-post-hidden {
  display: none;
}
.carousel-post {
  width: 100%;
  max-width: 1400px;
  height: 500px;
}
.carousel-post-visible {
  display: block;
}
