:root {
  --primary: #e9e4d8;
  --dark: #181d26;
  --light: #c39316;
}
@font-face {
  font-family: "northash";
  src: url(/font/Logo/Northash-K7v2D.ttf) format("truetype");
}
@font-face {
  font-family: "BebasNeue";
  src: url(/font/subheader/BebasNeue-Regular.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--primary);
}
p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark);
}
h2 {
  font-family: "BebasNeue";
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: var(--dark);
}
.formErr {
  display: none;
}
.img-scale {
  transform: scale(1.5);
}
/* ---------------------index page ---------------- */
.mobile-img {
  max-width: 100vw;
}
.mobile-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.img-container {
  max-width: 100%;
}
.img-container img {
  width: 100%;
  max-width: 800px;
  height: auto;
  object-fit: cover;
}
.prim-container,
.secondary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.prim-container h2,
.prim-container p,
.secondary-container h2,
.secondary-container p {
  padding: 20px;
  max-width: 400px;
}
.prim-container {
  background-color: var(--light);
}
.btn-readmore {
  background-color: transparent;
  border: 2px solid var(--dark);
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.btn-readmore a {
  font-size: 1.2rem;
  font-family: "BebasNeue";
  color: var(--dark);
}

/* list page--------------------- */
.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
  max-width: 1500px;
}
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark);
  border-radius: 0 0 15px 15px;
}
.card img {
  width: 100%;
  max-width: 400px;
  height: 400px;
  object-fit: cover;
}
.card h2 {
  height: 2.4em;
  border-bottom: none;
  text-align: center;
  background-color: var(--primary);
}

/* her kan jeg sette sammen litt --------------- */
.btn-readmore-list {
  font-family: "BebasNeue";
  font-size: 1.2rem;
  width: 120px;
  display: block;
  margin: 20px auto;
  padding: 10px 0;
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}
.load-more {
  display: block;
  margin: 40px auto;
  background-color: var(--light);
  width: 150px;
  padding: 10px 0;
  border: 5px solid var(--dark);
  font-family: "BebasNeue";
  font-size: 1.2rem;
}

/* ------------------------------------- */


/* modal oupwindo ------------------------------------- */

.modal-container {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0,0.4);
}

.modal {
  position: relative;
  display: flex;
  justify-content: center;
 margin: auto 20%;
}
.modal img {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
}
.close {
  
  color: var(--primary);
  font-size: 5rem;
  font-weight: bold;
}








@media screen and (min-width: 789px) {
  .prim-container,
  .secondary-container {
    display: grid;
    padding: 20px 20px 20px 0;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "one two";
  }
  .prim-container :nth-child(1),
  .secondary-container:nth-child(1) {
    grid-area: one;
  }
  .prim-container :nth-child(2),
  .secondary-container:nth-child(2) {
    grid-area: two;
  }
}
